body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    width: 400px;
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    border: 2px solid #ffaa00;
}
.header {
    color: white;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 2px solid #ffaa00;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 15px 0;
}
.gallery img {
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px solid #ffaa00;
    border-radius: 8px;
    background-color: #333; /* Warna placeholder */
}
.button {
    background: #ffaa00;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    display: block;
}